@font-face {
  font-family: Gilroy;
  font-weight: normal;
  src: url(../fonts/Gilroy/gilroy-medium.woff2);
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url(../fonts/Gilroy/gilroy-bold.woff2);
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-bottom: 320px;
  font-family: "Gilroy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 20px;
}
